.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -1.25rem; /* reduce left offset so it doesn't overflow on narrow screens */
    transition: var(--transition-micro-medium);
}